<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | TrackByLyrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="auth-container">
        <h1 class="project-title">🎧 TrackByLyrics</h1>
        <p class="project-desc">
            Find any song using just a few words of its lyrics.<br>
            Powered by Spotify API.
        </p>

        <h2>Login</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit">Login</button>
        </form>
        <p>Don’t have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
    </div>
</body>
</html>